CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
/bin
build
*.sln
/Graphics Engine
/x64
/.vs
*.json
src/graphics/assets/scenes/
